{% extends 'layouts/master.html' %}
{% load static %}

{% block title %} __INDEX__ {% endblock %}

{% block css %}

{% endblock %}

{% block js %}

{% endblock %}

{% block content %}
<!-- TODO CONTENT -->
{% for book in books %}
    {% if book.display_cover %}
        <article
            id="post-{{ book.id }}"
            class="post-{{ book.id }} post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle grid__item card card--image card--portrait">
            <div class="card__mask">
                <div class="card__hover">
                    <div class="card__wrap">
                        <div class="card__shadow">
                            <a href="/post/{{ book.id }}" class="entry-image--portrait card__image">
                                <div class="card__image-wrap" style="padding-top: 150%;">
                                    <img
                                            class="card__thumb"
                                            src="{{ book.cover.url }}" alt="">
                                    <div
                                            class="card__image--large"
                                            data-src="{{ book.cover.url }}"></div>
                                </div>
                            </a>
                        </div>
                        <div class="card-title-wrap">
                            <div class="card__title">
                                <h2>
                                    <a href="/post/{{ book.id }}" rel="bookmark">
                                        {{ book.title }}
                                    </a>
                                </h2>
                                <div class="card__meta  entry-meta">
                                    <span class="card__meta-primary">
                                        <span class="cat-links">
                                            <a href="javascript:void(0);" rel="category tag">{{ book.display_categories }}</a>
                                        </span> by <span class="author vcard">
                                            <a class="url fn n" href="javascript:void(0);">{{ book.display_categories }}</a>
                                        </span>
                                    </span>
                                    <span class="card__meta-secondary">
                                        <span class="posted-on">
                                            <a href="/post/{{ book.id }}" rel="bookmark">
                                                <time class="entry-date published" datetime="{{ book.release_date }}">
                                                    {{ book.release_date }}
                                                </time>
                                            </a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article><!-- #post-## -->
    {% else %}
        <article
            id="post-{{ book.id }}"
            class="post-{{ book.id }} post type-post status-publish format-standard hentry category-travel grid__item card card--text card--portrait">
            <div class="card__mask">
                <div class="card__hover">
                    <div class="card__shadow">
                        <div class="card__wrap">
                            <div class="card__meta entry-meta">
                                <span class="card__meta-primary">
                                    <span class="cat-links">
                                        <a href="javascript:void(0);" rel="category tag">
                                            {{ book.display_categories }}
                                        </a>
                                    </span> by <span class="author vcard">
                                        <a class="url fn n" href="javascript:void(0);">{{ book.display_authors }}</a>
                                    </span>
                                </span>
                                <span class="card__meta-secondary">
                                    <span class="posted-on">
                                        <a href="javascript:void(0);" rel="bookmark">
                                            <time class="entry-date published" datetime="{{ book.release_date }}">
                                                {{ book.release_date }}
                                            </time>
                                        </a>
                                    </span>
                                </span>
                            </div>

                            <h2>
                                <a href="/post/{{ book.id }}" rel="bookmark">
                                    {{ book.title }}
                                </a>
                            </h2>
                            <p>
                                {{ book.display_description }}
                            </p>
                            <a class="btn" href="/post/{{ book.id }}">More</a>
                        </div>
                    </div>
                </div>
            </div>
        </article><!-- #post-## -->
    {% endif %}
{% endfor %}

{% endblock %}